<h1>Chess Arena! Play Now!</h1>

<br />

<% @board.each_with_index do |row, row_index| %>
  <div class = 'row'>
    <% row.each_with_index do |box, box_index| %>
      <% if (row_index.even? && box_index.odd?) || (row_index.odd? && box_index.even?) %>
        <div class = 'col-sm box box-black'>
          <% if box.is_a?(Piece) %>
            <div class='piece'>
              <div data-item-id=<%= box.id %>>
                <%= box.piece_type %>  
                <br/>
                <%= "[#{box.y_location}]" %>
                <%= "[#{box.x_location}]" %>
              </div>  
            </div>
          <% end %>
        </div>
      <% else %>
        <div class = 'col-sm box'>
          <% if box.is_a?(Piece) %>
            <div class='piece'>
              <div data-item-id=<%= box.id %>>
                <%= box.piece_type %>
                <br/>
                <%= "[#{box.y_location}]" %>
                <%= "[#{box.x_location}]" %>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>

<script>
  $( function() {
    $(".piece").draggable();
    $(".box").droppable({
      drop: function( event, ui ) {
        console.log('piece was dropped');
        // console.log(ui.item.data('data-item-id'));
        // console.log(ui.draggable);
        // console.log(ui.draggable.data());
        if(ui.item) {
          console.log(ui.item);
        } else {
          console.log("It's not defined");
        }
      }
    });
  });
</script>
