<h1><%= @game.title %></h1>
<%= link_to 'Edit', edit_game_path(@game), class: 'btn btn-primary' %>
<%= link_to 'Delete', game_path(@game), method: :delete, data: {confirm: 'Are you sure you want to delete this?'},class: 'btn btn-danger' %>

<br />
<br />

<div class= "board-area">
  <% @board.each_with_index do |row, row_index| %>
    <div class = 'row justify-content-center'>
      <% row.each_with_index do |box, box_index| %>
        <% if (row_index.even? && box_index.odd?) || (row_index.odd? && box_index.even?) %>
          <div class = 'col-1 box box-black'>
            <% if box.is_a?(Piece) %>
              <div class='piece'>
                <% if box.piece_type == 'pawn' && box.color == 'white' %>
                  <%= image_tag 'wP.png' %>
                <% elsif box.piece_type == 'pawn' && box.color == 'black' %>
                  <%= image_tag 'bP.png' %>
                <% elsif box.piece_type == 'queen' && box.color == 'black' %>  
                  <%= image_tag 'bQ.png' %>
                <% elsif box.piece_type == 'queen' && box.color == 'white' %>  
                  <%= image_tag 'wQ.png' %>
                <% elsif box.piece_type == 'rook' && box.color == 'black' %>  
                  <%= image_tag 'bR.png' %>
                <% elsif box.piece_type == 'rook' && box.color == 'white' %>  
                  <%= image_tag 'wR.png' %>
                <% elsif box.piece_type == 'knight' && box.color == 'white' %>  
                  <%= image_tag 'wN.png' %>
                <% elsif box.piece_type == 'knight' && box.color == 'black' %>  
                  <%= image_tag 'bN.png' %>
                <% elsif box.piece_type == 'bishop' && box.color == 'black' %>  
                  <%= image_tag 'bB.png' %>
                <% elsif box.piece_type == 'bishop' && box.color == 'white' %>  
                  <%= image_tag 'wB.png' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% else %>
          <div class = 'col-1 box'>
            <% if box.is_a?(Piece) %>
              <div class='piece'>
                <% if box.piece_type == 'pawn' && box.color == 'white' %>
                  <%= image_tag 'wP.png' %>
                <% elsif box.piece_type == 'pawn' && box.color == 'black' %>
                  <%= image_tag 'bP.png' %>
                <% elsif box.piece_type == 'king' && box.color == 'black' %>  
                  <%= image_tag 'bK.png' %>
                <% elsif box.piece_type == 'king' && box.color == 'white' %>  
                  <%= image_tag 'wK.png' %>
                <% elsif box.piece_type == 'rook' && box.color == 'black' %>  
                  <%= image_tag 'bR.png' %>
                <% elsif box.piece_type == 'rook' && box.color == 'white' %>  
                  <%= image_tag 'wR.png' %>
                <% elsif box.piece_type == 'knight' && box.color == 'white' %>  
                  <%= image_tag 'wN.png' %>
                <% elsif box.piece_type == 'knight' && box.color == 'black' %>  
                  <%= image_tag 'bN.png' %>
                <% elsif box.piece_type == 'bishop' && box.color == 'black' %>  
                  <%= image_tag 'bB.png' %>
                <% elsif box.piece_type == 'bishop' && box.color == 'white' %>  
                  <%= image_tag 'wB.png' %>
                <% end %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  <% end %>
</div>
<script>
  
$('.piece').draggable({ containment: '.board-area'});
$('.piece').droppable({
    drop: function( event, ui ) {
      $(ui.draggable).detach();
      $(this).replaceWith(ui.draggable);
      var draggablePiece = ui.draggable.attr(".piece");
      var droppablePiece = $(this).attr(".piece");
     
  }     
});


</script>
